{% extends 'base.html' %}
{% load static %}

{% block title %} Password Rest {% endblock title %}

{% block head_block %}
<!-- Custom css for account app -->
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock head_block %}

{% block content %}
<div class="reset-password">
    <h3>Enter new password</h3>
    <hr>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">

        {% csrf_token %}
        {{form}}
        <button class=" btn btn-info mt-2" type="submit">Update Password</button>

    </form>
</div>
{% endblock content %}

{% block js_block %}
<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock js_block %}